<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>{{ page_title }}</title>
</head>
<body>
    <div class="navBar">
        <div class="logo">
            <p><a href="/">SimpleMacroCounter</a> <sub style="font-size: 0.9rem;"><i><b>{{ user }}</b></i></sub></p>
        </div>
        <div class="navigation">
            <ul>
                {% if page_title starts with 'Reduce' %}
                <li><a href="/modifyMacros">Add macros</a></li>
                <li><a href="/reduceMacros" class="selected">Reduce macros</a></li>
                {% else %}
                <li><a href="/modifyMacros" class="selected">Add macros</a></li>
                <li><a href="/reduceMacros">Reduce macros</a></li>
                {% endif %}
                <li><a href="/history">History</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
    <h1>{{ page_intent }}</h1>

    <div>
        {{ form_start(form) }}

        {{ form_row(form.protein) }}
        {{ form_row(form.carbs) }}
        {{ form_row(form.fats) }}
        {{ form_row(form.fiber) }}

        <button type="submit">Update</button>

        {{ form_end(form) }}
    </div>

</body>
</html>
