<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>History - SMC</title>
</head>
<body>
    <div class="page">
        <header class="header">
            <div class="logo">
                <h3>SimpleMacroCounter<sub> {{ user }}</sub></h3>
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="/modifyMacros"><img src="{{ asset('img/up_arrow.png') }}" alt="Add Macros" height="32px" width="32px"></a></li>
                    <li><a href="/reduceMacros"><img src="{{ asset('img/down_arrow.png') }}" alt="Reduce Macros" height="32px" width="32px"></a></li>
                    <li><a href="/history"><img src="{{ asset('img/history_icon.png') }}" alt="History" height="32px" width="32px"></a></li>
                    <li><a href="/"><img src="{{ asset('img/settings_icon.png') }}" alt="Settings" height="32px" width="32px"></a></li> <!-- Not implemented yet -->
                    <li><a href="/logout"><img src="{{ asset('img/logout_icon.png') }}" alt="Logout" height="32px" width="32px"></a></li>
                </ul>
            </div>
        </header>
        <main class="content">
            <h1><i>Previous {{ days }} days</i></h1>
            <div>
                {% if historyData is empty %}
                <div class="noDataFound">
                    <p><i>No data recorded</i></p>
                </div>
                {% endif %}
                {% for date, rows in historyData %}
                {% for row in rows %}
                <div class="macroDataCard">
                    <div id="dateAndCalories">
                        <p id="date">{{ row.date|date('Y-m-d') }}</p>
                        <p id="caloriesConsumed">{{ row.kcals }}<sub>kcals</sub></p>
                    </div>
                    <div id="macroData">
                        <ul>
                            <li><sub>Protein</sub> {{ row.protein }}</li>
                            <li><sub>Carbohydrates</sub> {{ row.carbs }}</li>
                            <li><sub>Fats</sub> {{ row.fats }}</li>
                            <li><sub>Fiber</sub> {{ row.fiber }}</li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
                {% if rows is empty %}
                <div class="macroDataCard">
                    <p>No data registered</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </main>
</body>

</html>