<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <title>Home - SMC</title>
    </head>
    <body>
        <div class="page">
            <header class="header">
                <div class="logo">
                    <h3>SimpleMacroCounter<sub> {{ user }}</sub></h3>
                </div>
                <div class="navigation">
                    <ul>
                        <li><a href="/modifyMacros">Add macros</a></li>
                        <li><a href="/reduceMacros">Reduce macros</a></li>
                        <li><a href="/history">History</a></li>
                        <li><a href="/">Config</a></li> <!-- Not implemented yet -->
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </header>
            <main class="content">
                <div class="text-content">
                    <p>Today you consumed <b>{{ calories }}</b> kcals. You are <b>{{ caloriesConsumed|replace({'-':''}) }}</b>{% if calorieProgress >= 100  %} over {% else %} under {% endif %} your goal of {{ caloriesGoal }} calories (<i>{{ calorieProgress }}%</i>).</p>
                </div>
                <div class="text-content progress-wrappers">
                    <div class="progress-wrapper">
                        <div class="progress-bar" data-progress="{{ proteinProgress }}">
                            <h3>Proteins</h3>
                            <span class="progress-text">{{ proteinGrams }}g / {{ proteinGoal }} <sup><i>goal</sup></i></span>
                        </div>
                    </div>
                    <div class="progress-wrapper">
                        <div class="progress-bar" data-progress="{{ carbProgress }}">
                            <h3>Carbohydrates</h3>
                            <span class="progress-text">{{ carbGrams }}g / {{ carbGoal }} <sup><i>goal</sup></i></span>
                        </div>
                    </div>
                    <div class="progress-wrapper">
                        <div class="progress-bar" data-progress="{{ fatProgress }}">
                            <h3>Fats</h3>
                            <span class="progress-text">{{ fatGrams }}g / {{ fatGoal }} <sup><i>goal</sup></i></span>
                        </div>
                    </div>
                    <div class="progress-wrapper">
                        <div class="progress-bar" data-progress="{{ fiberProgress }}">
                            <h3>Fiber</h3>
                            <span class="progress-text">{{ fiberGrams }}g / {{ fiberGoal }} <sup><i>goal</sup></i></span>
                        </div>
                    </div>
                </div>
                <div class="text-content"></div> <!-- Reserved section for future analytics -->
            </main>
        </div>
    </body>
    <script>
        document.querySelectorAll('.progress-bar').forEach(bar => {
            let progress = Number(bar.dataset.progress);

            if (progress > 100) progress = 100;

            bar.style.width = '0%';

            setTimeout(() => {
                bar.style.width = progress + '%';
            }, 75); // ms
        });
    </script>
</html>